* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* A dark blue color gradient */
    border-radius: 10px; /* Rounded edges */
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.header h1 {
    font-family: Arial, sans-serif;
    font-size: 32px;
    color: #fff;
}

.header nav {
    display: flex;
}

.header nav ul {
    display: flex;
    list-style: none;
}

.header nav ul li {
    margin: 0 10px;
}

.header nav ul li a {
    display: block;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.header nav ul li a:hover {
    background-color: #fff;
    color: #333;
    transform: scale(1.1);
    transition: all 0.3s;
}

.header nav ul li a.active {
    background-color: #fff;
    color: #333;
}

.content {
    padding: 20px;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* A darker color gradient */
}

.section {
    margin: 20px 0;
    border-radius: 10px; /* Rounded edges */
}

.section h2 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    color: #fff;
    margin-bottom: 10px;
}

.section p {
    font-family: Arial, sans-serif;

}